body{
  background-color: #8d8d8d;
}

#drum-machine{
  background-color: #b3b3b3;
  outline: 5px solid orange;
  width:360px;
  height: 350px;
  position: absolute;
  left: calc(50% - 180px);
  top: calc(50% - 175px);
  text-align: center;
}

.drum-pad{
  width:100px;
  height:80px;
  background-color: grey;
  margin-top:10px;
  box-shadow: black 3px 3px 5px;
  display: inline-block;
  margin: 7px;
  transition: 1;
  cursor: pointer;
}

.drum-pad:hover{
    background-color: rgb(216, 216, 38);
}

#display{
  font-size: 20px;
  font-weight: bold;
}